<a href="https://colab.research.google.com/github/Priyesh0411/Numpy/blob/master/HackerRank_Coding_and_Explanations.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **Finding the percentage**

**Tutorial**

A dictionary is a data type which stores values in pairs. For each element in the dictionary, there is a unique key that points to a value. A dictionary is mutable. It can be changed.
For example:

In [1]:
a_dict = {'one': 1} # Here 'one' is the key.

**Note:** The **key of a dictionary** is **"immutable"**. **We cannot use a list as a key because a list is "mutable"**. But we can **make a tuple of list and use as key**.

In [3]:
a_dict['two'] = 2 # Adds key 'two' which points to 2
print(a_dict['one'])
# prints 1  
if 'three' in a_dict:
    # To check whether a certain string exist as a key in the dictionary  
    print(a_dict['three'])
else:  
    print("Three not there")
# prints Three not there
del a_dict['one']
# Deletes index 'one' and the value associated with it  
print(a_dict)
# prints {'two': 2}

1
Three not there
{'two': 2}

**Note:** A dictionary is unordered. So, only use the keys to navigate through the dictionary.

**Problem**

The provided code stub will read in a dictionary containing key/value pairs of **name:[marks]** for a list of **students**. Print the average of the marks array for the student name provided, showing 2 places after the decimal.

**Example**




The query_name is 'beta'. beta's average score is .

**Input Format**

The first line contains the integer , the number of students' records. The next  lines contain the names and marks obtained by a student, each value separated by a space. The final line contains query_name, the name of a student to query.

**Output Format**

Print one line: The average of the marks obtained by the particular student correct to 2 decimal places.

**Sample Input 0**

3

Krishna 67 68 69

Arjun 70 98 63

Malika 52 56 60

Malika

**Sample Output 0**

56.00

**Sample Input 1**

2

Harsh 25 26.5 28

Anurag 26 28 30

Harsh

**Sample Output 1**

26.50

In [8]:
if __name__ == '__main__':
    n = int(input())
    student_marks = {}
    for _ in range(n):
        name, *line = input().split()
        scores = list(map(float, line))
        student_marks[name] = scores
    query_name = input()
    average_marks= sum([i for i in student_marks[query_name]]) / len(student_marks[query_name])
    print(f"{average_marks:.2f}")

3
Krishna 67 68 69
Arjun 70 98 63
Malika 52 56 60
Malika
56.00